.homeContainer{
  min-width: 100%;
  display: flex;
}
body{
  width: 100%;
  box-sizing: border-box;
}
.homeRellenoContainer{
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 40px;
  height: 120px;
  padding: 10px 30px;
}
.homeRellenoContainer img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.homeTextoRellenoContainer{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.homeTextoRellenoContainer p{
  font-size: 16px;
  font-weight: 500;
  color: #4c566a;
  padding-left: 12px;
  position: relative;
  top: 5px;
}
.homeTextoRellenoContainer span{
  font-size: 13px;
  font-weight: 500;
  color: #9199a9;
  padding-right: 10px;
  position: relative;
  bottom: 10px;
}
.fondoHome{
  background-color: #eceff4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.divEspacioHome{
  background-color: #d8dee9;
  height: 20px;
}
.divEspacioHome p{
  visibility: hidden;
}
.infoPrincipalHome{
  padding: 28px;
}
.infoPrincipalContainer{
  border-radius: 4px;
  background: #ffffff;
  padding: 18px;
}
.infoPrincipalContainer h1{
  font-size: 18px;
  font-weight: 400;
}
.infoPrincipalContainer p{
  font-size: 14px;
  margin-top: 16px;
}
.infoPrincipalContainer button{
  color: #ffffff;
  background-color: #5E81AC;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.15s, box-shadow 0.15s;
  padding: 6px 12px;
}
.infoPrincipalContainer button:hover{
  transition: background-color 0.15s, box-shadow 0.15s;
}